NODE_ENV=development

# Postgres (usado por docker-compose)
POSTGRES_USER=mvh
POSTGRES_PASSWORD=mvh_dev_password
POSTGRES_DB=mvh_store

# Redis (usado por docker-compose)
REDIS_PASSWORD=mvh_redis_dev
